@import "../../styles/abstracts/fonts.scss";

.formWrapper {
	max-width:40rem;
	margin: 10rem auto;
	padding: 5rem;
	background-color: rgba(185, 183, 176, 0.856);
	border-radius: 8px;
	border: 0.1rem solid #333;
	box-shadow: 0 4px 10px #333;
	
 
	@media (max-width: 768px) {
	  padding: 15px;
	  margin: 7rem auto;
	}
 }
 
 .form {
	display: flex;
	flex-direction: column;

	
	
	.formGroup {
	  margin-bottom: 1rem;
 
	  label {
		 display: block;
		 margin-bottom: 0.5rem;
		 font-weight: 600;
		 font-size: 2rem;
		 color: black;
	  }
 
	  input,
	  textarea {
		 width: 38.5rem;
		 padding: 10px;
		 border: 0.15rem solid #333;
		 border-radius: 4px;
		 font-size: 1.2rem;
		 color: #4b4b4b;
		 transition: border-color 0.2s ease;
		 background-color: rgb(216, 214, 205);
		 font-family: $Htag-font;
		 font-weight: 700;
		 
		 &:focus {
			border-color: #7c7b7b;
			outline: none;

		 }

		 @media (max-width: 428px) {
			margin: 0 auto;
		
			width: 17rem;
			
			
		 }
		
		 @media (width: 810px) {
			margin: 0 auto;
		
			width: 18rem;
			
			
		 }
		 		
		 @media (width: 428px) {
			margin: 0 auto;
		
			width: 18rem;
			
			
		 }
		
		
		 @media (width: 390px) {
			margin: 0 auto;
		
			width: 16rem;
			
			
		 }

		 	
		 @media (width: 360px) {
			margin: 0 auto;
		
			width: 14rem;
			
			
		 }

		 @media (width: 384px) {
			margin: 0 auto;
		
			width: 15.5rem;
			
			
		 }
		 @media (width: 375px) {
			margin: 0 auto;
		
			width: 15rem;
			
			
		 }

	  }
 
	  textarea {
		 min-height: 120px;
		 resize: vertical;
	  }
	}
 
	.error {
	  color: #680b01;
	  font-size: 1rem;
	  font-weight: 600;
	  margin-top: 5px;
	}
 
	.submitButton {background-color: #4d0a02;
		color: rgba(185, 183, 176, 0.938);
		border: none;
		padding: 12px 20px;
		border-radius: 8px; // Сделал радиус чуть больше для мягкости
		cursor: pointer;
		font-size: 1.8rem;
		font-weight: 600;
		transition: background-color 0.3s ease, box-shadow 0.3s ease; // Добавлен плавный переход для теней
		font-family: $Htag-font;
		font-weight: 700;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06); // Добавлена тень
	 
		&:hover {
		  background-color: #3d0701;
		  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1); // Более интенсивная тень при наведении
		}
	 
		&:active {
		  background-color: #2d0501; // Немного затемненный цвет при клике
		  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Уменьшение тени при нажатии
		  transform: scale(0.98); // Небольшой эффект сжатия при нажатии
		}
	 
		&:focus {
		  outline: none; // Убираем стандартное выделение
		  box-shadow: 0 0 0 4px rgba(77, 10, 2, 0.5); // Добавляем обводку при фокусе
		}
 
	  &:disabled {
		 background-color: #ccc;
		 cursor: not-allowed;
	  }
	}
 }
 