@import "../styles/abstracts/variables.scss";


.wrapper {
  position: relative;
  min-height: 100vh;
  max-width: 144rem;
  overflow-x: hidden;

  @media (max-width: 480px) {
    max-width: 50rem;
  }

  background-color: rgba(216, 214, 206, 0.856);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.493);
    opacity: var(--overlay-opacity, 0);
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
  }

  body,
  html {
    overflow-x: hidden;
    position: relative;
    z-index: 2;
  }

  body {
    overflow-y: hidden;
  }
}